<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

<div class="form-container">

  <div class="form-header-container">
    <h1>Sign in to MyTravels</h1>
  </div>

  <% if @user.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @user} %>
  <% end %>

  <div class="form-body-container">
    <%= form_for(@user, :url => sessions_path, :method => "post") do |f| %>

      <%= f.label :username, "Username or Email", :class => "form-label" %>
      <%= f.text_field :username, :class => "form-field" %>

      <%= f.label :password, "Password", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-field" %>

      <%= f.submit "Sign in", :class => "form-submit-btn" %>
    <% end %>
  </div>

  <div class="form-divider-container">
    <p>or</p>
  </div>

  <div class="form-body-container">
  <%= link_to "Log in with Google", "/google_signup", :class => "btn btn-primary" %>
  </div>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
