<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

<div class="form-container">


  <% if @user.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @user} %>
  <% end %>

  <div class="form-body-container">
  <div style="text-align: center"
  <h2>Log In </h2>
  </div>
    <%= form_for(@user, :url => sessions_path, :method => "post") do |f| %>

      <%= f.label :username, "Username or Email", :class => "form-label" %>
      <%= f.text_field :username, :class => "form-field" %>

      <%= f.label :password, "Password", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-field" %>

      <%= f.submit "Sign in", :class => "form-submit-btn" %><br>

      <%= link_to "Log in with Google", "/google_signup", :class => "btn btn-primary" %>
    <% end %>
  </div>

</div>

