<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

<div class="form-container">


  <% if @user.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @user} %>
  <% end %>

  <br>

  <div class="form-body-container">
  <div class="font-weight-bold text-dark" style="text-align: center">
  <img src="/images/AppHub1.jpg" width="55" height="55" class="d-inline-block align-top" alt="" loading="lazy">
  <h3>AppHub Log In</h3>
  </div><br>
    <%= form_for(@user, :url => sessions_path, :method => "post") do |f| %>

      <%= f.label :username, "Username or Email", :class => "form-label" %>
      <%= f.text_field :username, :class => "form-field" %>

      <%= f.label :password, "Password", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-field" %>

      <%= f.submit "Sign in", :class => "form-submit-btn" %><br>

      <%= link_to "Log in with Google", "/google_signup", :class => "btn btn-primary" %>
    <% end %>
  </div>

</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 1000%;}
  body {
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-sky-blue-solid-color-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
