<div class="form-container">

  <div class="form-header-container">
    <h1>Edit User</h1>
  </div>

  <% if @user.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @user} %>
  <% end %>

  <div class="form-body-container">
    <%= form_for @user do |f| %>

      <%= f.label :username, "Username", :class => "form-label" %>
      <%= f.text_field :username, :class => "form-field" %>

      <%= f.label :email, "Email", :class => "form-label" %>
      <%= f.text_field :email, :class => "form-field" %>

      <%= f.label :password, "New Password (opt)", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-field" %>

      <%= f.label :password_confirmation, "Confirm New Password (opt)", :class => "form-label" %>
      <%= f.password_field :password_confirmation, :class => "form-field" %>

      <%= fields_for :other do |o| %>
        <%= o.label :current_password, "Password", :class => "form-label" %>
        <%= o.password_field :current_password, :class => "form-field" %>
      <% end %>

      <%= f.submit "Update", :class => "form-submit-btn" %>
    <% end %>
  </div>

</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 1000%;}
  body {
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-sky-blue-solid-color-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
