<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-6">
       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
    <br>

<div class="form-container">

  <% if @user.errors.any? %>
    <%= render :partial => "shared/form_errors", :locals => {:obj => @user} %>
  <% end %>

  <div class="form-body-container">
  <div class="font-weight-bold text-dark" style="text-align: center">
  <img src="/images/AppHub1.jpg" width="55" height="55" class="d-inline-block align-top" alt="" loading="lazy">
  <h3>AppHub Sign Up</h3>
  </div><br>
    <%= form_for @user do |f| %>
      <%= render :partial => "signup_form", :locals => {:f => f} %>
      <%= f.submit "Sign up", :class => "form-submit-btn" %><br>
 <div style="text-align: center">
 <%= link_to "Log in with Google", "/google_signup", :class => "btn btn-long btn-primary" %>
 </div>

    <% end %>
  </div>

</div>


<!-- CSS -->
<style type="text/css">
  html, body { height: 5000%;}
  body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
