<div class="content-container" style="text-align: center">
<br>

 <div class="content-header-container badge badge-dark text-wrap">
    <h1><%= current_user.username %>'s Account</h1>
  </div>

  <div class="content-body-container">
    <table>
      <% current_user.public_attributes.each do |attribute, value| %>
        <tr>
          <td class="td-header"><%= "#{attribute}:" %></td>
          <td><%= value.to_s %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= link_to("Edit account", edit_user_path(current_user), :class => "form-submit-btn") %>
  <%= button_to("Delete account", user_path(current_user), :method => :delete, :class => "form-submit-btn-red", :data => {:confirm => "Are you sure?"}) %>

</div>

<!-- CSS -->
<style type="text/css">
  html, body { height: 5000%;}
  body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
