<a href="<%= job_application_path(job_application) %>" class="link-primary-subcontainer">

  <p>
    <%= job_application.start_date.to_time.strftime("%b %e, %Y") %>
    <% if !!job_application.end_date %>
      &ndash;
      <%= job_application.end_date.to_time.strftime("%b %e, %Y") %>
    <% end %>
  </p>

  <p><span class="make-bold"><%= job_application.user.username %></span></p>

  <p><%= job_application.position.blank? ? "No Position" : job_application.position %></p>

  <p><%= "#{job_application.notes.size} Application #{"Note".pluralize(job_application.notes.size)}"%></p>

</a>

<!-- CSS -->
<style type="text/css">
  html, body { height: 5000%;}
  body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
</style>
